.img-banner{
    width: 80%;
}
.title-report{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    margin: 20px 0;
}
.title-report small{
    font-style: italic;
}
.title-report h2{
    font-weight: bold;
}
.table-bordered td {
    border: 1px solid #000000 !important;
}
.table-bordered th {
    border: 1px solid #000000 !important;
}
.display-none{
    display: none;
}
.table-in{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.text-weight{
    font-weight: bold;
}