.body-login{
  background-image: url(assets/img/brand/back1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-top{
  background-color: transparent;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.card{
  border: 1px solid #fb6b1b;
}
.card-body{
  padding: 0 0 1.25rem 0;
}
h3{
  margin-top: -10px;
}
h6 {
  margin-bottom: 20px;
  color: #2f982f;
  font-size: 7px;
  font-family: arial;
  margin-top: 2px;
}
.row-bot{
  position: absolute;
  bottom: 50px;
  left: 40px;
  width: 85vw;
}
.row-bot .card-group{
  height: 100px;
}
.row-bot .card-group .card{
  background: rgba(255,255,255,.6);
  border: none;
  padding: 1rem 1rem 1rem 1rem;
}
.box-logo img{
width: 150px;
margin-top: 10px;
object-fit: cover;
}
hr{
  margin-bottom: 0;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .row-bot{
    width: 870px;
  }
  .box-info{
    margin-left: 40px;
  }
} 
@media (min-width: 769px) and (max-width: 1024px) {
  .row-bot{
    width: 90vw;
  }
  .box-info{
    margin-left: 40px;
  }
} 
@media (min-width: 1025px) and (max-width: 1366px) {
  .row-bot{
    width: 70vw;
  }
  .box-info{
    margin-left: 20px;
  }
} 
.App-Text-A{
  font-size: 30px;
    font-weight: bold;
    color: #2f982f;
}
.App-Text-P{
  font-size: 30px;
  font-weight: bold;
  color: #f8b20c;
}
.logocty{
  background-image: url('assets/img/brand/app.png');
  width: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  margin-top: -10px;
  display: inline-block;
  margin-left: 5px;
}
h4{
  text-align: center;
  color: #2f982f;
  font-weight: bold;
  font-size: 28px;
}
.dangnhap-hethong {
    float: right;
}