<div class="animated fadeIn" (click)="Event($event)">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <div class="select-tieuchi">
                <button (click)="Active = !Active" type="button" class="buttom-dropdown" title="Chọn tiêu chí">
                  <img src="assets/img/brand/settings.png" class="img-plus-header" alt="plus" />
                  <a>
                    <strong>Chọn tiêu chí</strong>
                  </a>
                </button>
                <ul *ngIf="Active === true" class="ul-dropdown">
                  <li class="li-select">
                    <a>
                      Chọn thiết bị:
                    </a>
                    <select id="select2" name="select2" class="form-control" [(ngModel)]="options._ThietbiID" (ngModelChange)="ChangeThietBi()">
                      <option value="">----- Chọn thiết bị -----</option>
                      <option *ngFor="let c of listThietBi_" [ngValue]="c.ThietBiID">{{c.TenThietBi}}</option>
                    </select>
                  </li>
                  <li class="li-select">
                      <a>
                          Chọn khu vực:
                        </a>
                      <select id="select2" name="select2" class="form-control" [(ngModel)]="options.KhuVucVSCNID"
                        (ngModelChange)="khuVucChanged()">
                        <option value="">----- Chọn khu vực -----</option>
                        <option *ngFor="let c of litsKhuVucVs_" [ngValue]="c.KhuVucVSCNID">{{c.TenKhuVucVSCN}}</option>
                      </select>
                    </li>
                    <li class="li-select">
                        <a>
                            Chọn tháng:
                          </a>
                      <input class="form-control" id="date-input" type="month" name="date-input" [(ngModel)]="options.IsTime"
                        placeholder="Chọn tháng" (ngModelChange)="changThang()">
                    </li>
                </ul>
              </div>
          <ul class="ul-box-crud">
            <li appBtnPer="create"
              *ngIf="!(datacheck_.IsCheckT1 === 2 && datacheck_.IsCheckT2 === 2 && datacheck_.IsCheckT3 === 2 && datacheck_.IsCheckT4 === 2 && datacheck_.IsCheckT5 === 2)"
              data-toggle="modal" (click)="R2LuuThayDoiVeSinhCongNghiep()" title="Thêm mới">
              <img src="assets/img/brand/save-file-option.png" class="img-plus-header" alt="plus" />
              <a>
                <strong>Lưu thay đổi</strong>
              </a>
            </li>
            <li data-toggle="modal" (click)="refreshData()" title="Làm mới">
              <img src="assets/img/brand/refresh-page-option.png" class="img-plus-header" alt="plus" />
              <a>
                <strong>Làm mới</strong>
              </a>
            </li>
            <li *ngxPermissionsOnly="['Administrator']" data-toggle="modal" (click)="ImportFile()" title="Làm mới">
              <img src="assets/img/brand/upload.png" class="img-plus-header" alt="plus" />
              <a>
                <strong>Excel File</strong>
              </a>
            </li>           
            <li *ngIf="options._ThietbiID !== ''" class="li-select ma-may">
              <strong *ngIf="MaThietBi !== ''">
                Mã máy: {{MaThietBi}}
              </strong>
            </li>
          </ul>
        </div>
        <div class="card-body card-overflow">
          <table class="table table-striped table-sm table-app table-bor">
            <thead>
              <tr>
                <th class="text-center text-midle" width="50" rowspan="3">STT</th>
                <th colspan="4" class="text-center">Tuần 1</th>
                <th colspan="4" class="text-center">Tuần 2</th>
                <th colspan="4" class="text-center">Tuần 3</th>
                <th colspan="4" class="text-center">Tuần 4</th>
                <th *ngIf="options.T5 === false" colspan="4" class="text-center">Tuần 5</th>
              </tr>
              <tr>
                <th rowspan="2" class="text-midle">Nội dung công việc</th>
                <th rowspan="2" class="text-center text-midle" width="40">Ưu tiên</th>
                <th colspan="2" class="text-center" width="60">Đ/giá</th>
                <th rowspan="2" class="text-midle">Nội dung công việc</th>
                <th rowspan="2" class="text-center text-midle" width="40">Ưu tiên</th>
                <th colspan="2" class="text-center" width="60">Đ/giá</th>
                <th rowspan="2" class="text-midle">Nội dung công việc</th>
                <th rowspan="2" class="text-center text-midle" width="40">Ưu tiên</th>
                <th colspan="2" class="text-center" width="60">Đ/giá</th>
                <th rowspan="2" class="text-midle">Nội dung công việc</th>
                <th rowspan="2" class="text-center text-midle" width="40">Ưu tiên</th>
                <th colspan="2" class="text-center" width="60">Đ/giá</th>
                <th *ngIf="options.T5 === false" rowspan="2" class="text-midle">Nội dung công việc</th>
                <th *ngIf="options.T5 === false" rowspan="2" class="text-center text-midle" width="40">Ưu tiên</th>
                <th *ngIf="options.T5 === false" colspan="2" class="text-center" width="60">Đ/giá</th>
              </tr>
              <tr>
                <th class="text-center" width="30">Đ</th>
                <th class="text-center" width="30">KĐ</th>
                <th class="text-center" width="30">Đ</th>
                <th class="text-center" width="30">KĐ</th>
                <th class="text-center" width="30">Đ</th>
                <th class="text-center" width="30">KĐ</th>
                <th class="text-center" width="30">Đ</th>
                <th class="text-center" width="30">KĐ</th>
                <th *ngIf="options.T5 === false" class="text-center" width="30">Đ</th>
                <th *ngIf="options.T5 === false" class="text-center" width="30">KĐ</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of listVeSinhCongNghiep_; let tt = index">
              <tr>
                <td class="font-weight text-center">
                  {{item.ThuTu}}
                </td>
                <td colspan="16" class="font-weight text-center">
                  {{item.TenKhuVucVSCN}}
                </td>
              </tr>
              <tr *ngFor="let c of item.children; let i = index">
                <td class="text-center"> {{c.ThuTu}}</td>
                <td> {{c.ChiTietT1}}</td>
                <td class="text-center"> {{c.UuTienT1 === true ? 'X' : ''}}</td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT1ID != null && modelPM.NguoiVanHanhIDT1 != null"
                    *ngIf="c.ChiTietT1 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaT1"
                    value="DanhGiaT1" [checked]="c.DanhGiaT1" [(ngModel)]="c.DanhGiaT1" (click)="SelectOneInTwoT1(c,1)">
                </td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT1ID != null && modelPM.NguoiVanHanhIDT1 != null"
                    *ngIf="c.ChiTietT1 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaKDT1"
                    value="DanhGiaKDT1" [checked]="c.DanhGiaKDT1" [(ngModel)]="c.DanhGiaKDT1"
                    (click)="SelectOneInTwoT1(c,2)">
                </td>
                <td> {{c.ChiTietT2}}</td>
                <td class="text-center"> {{c.UuTienT2 === true ? 'X' : ''}}</td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT2ID != null && modelPM.NguoiVanHanhIDT2 != null"
                    *ngIf="c.ChiTietT2 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaT2"
                    value="DanhGiaT2" [checked]="c.DanhGiaT2" [(ngModel)]="c.DanhGiaT2" (click)="SelectOneInTwoT2(c,1)">

                </td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT2ID != null && modelPM.NguoiVanHanhIDT2 != null"
                    *ngIf="c.ChiTietT2 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaKDT2"
                    value="DanhGiaKDT2" [checked]="c.DanhGiaKDT2" [(ngModel)]="c.DanhGiaKDT2"
                    (click)="SelectOneInTwoT2(c,2)">
                </td>
                <td> {{c.ChiTietT3}}</td>
                <td class="text-center"> {{c.UuTienT3 === true ? 'X' : ''}}</td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT3ID != null && modelPM.NguoiVanHanhIDT3 != null"
                    *ngIf="c.ChiTietT3 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaT3"
                    value="DanhGiaT3" [checked]="c.DanhGiaT3" [(ngModel)]="c.DanhGiaT3" (click)="SelectOneInTwoT3(c,1)">
                </td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT3ID != null && modelPM.NguoiVanHanhIDT3 != null"
                    *ngIf="c.ChiTietT3 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaKDT3"
                    value="DanhGiaKDT3" [checked]="c.DanhGiaKDT3" [(ngModel)]="c.DanhGiaKDT3"
                    (click)="SelectOneInTwoT3(c,2)">
                </td>
                <td> {{c.ChiTietT4}}</td>
                <td class="text-center"> {{c.UuTienT4 === true ? 'X' : ''}}</td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT4ID != null && modelPM.NguoiVanHanhIDT4 != null"
                    *ngIf="c.ChiTietT4 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaT4"
                    value="DanhGiaT4" [checked]="c.DanhGiaT4" [(ngModel)]="c.DanhGiaT4" (click)="SelectOneInTwoT4(c,1)">
                </td>
                <td class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT4ID != null && modelPM.NguoiVanHanhIDT4 != null"
                    *ngIf="c.ChiTietT4 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaKDT4"
                    value="DanhGiaKDT4" [checked]="c.DanhGiaKDT4" [(ngModel)]="c.DanhGiaKDT4"
                    (click)="SelectOneInTwoT4(c,2)">
                </td>
                <td *ngIf="c.ChiTietT5 !== null"> {{c.ChiTietT5}}</td>
                <td *ngIf="c.ChiTietT5 !== null" class="text-center"> {{c.UuTienT5 === true ? 'X' : ''}}</td>
                <td *ngIf="c.ChiTietT5 !== null" class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT5ID != null && modelPM.NguoiVanHanhIDT5 != null"
                    *ngIf="c.ChiTietT5 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaT5"
                    value="DanhGiaT5" [checked]="c.DanhGiaT5" [(ngModel)]="c.DanhGiaT5" (click)="SelectOneInTwoT5(c,1)">
                </td>
                <td *ngIf="c.ChiTietT5 !== null" class="text-center">
                  <input [disabled]="modelPM.NguoiXacNhanT5ID != null && modelPM.NguoiVanHanhIDT5 != null"
                    *ngIf="c.ChiTietT5 !== ''" class="table-checkbox" type="checkbox" id="inline-DanhGiaKDT5"
                    value="DanhGiaKDT5" [checked]="c.DanhGiaKDT5" [(ngModel)]="c.DanhGiaKDT5"
                    (click)="SelectOneInTwoT5(c,2)">
                </td>
              </tr>

            </tbody>
            <thead>
              <tr>
                <th></th>
                <th class="text-center">Tổng tuần 1</th>
                <th class="text-center" colspan="3">
                  {{objDiemDanhGia.TongDiemT1}} / {{objDiemDanhGia.totalT1}}
                </th>
                <th class="text-center">Tổng tuần 2</th>
                <th class="text-center" colspan="3">
                  {{objDiemDanhGia.TongDiemT2}} / {{objDiemDanhGia.totalT2}}
                </th>
                <th class="text-center">Tổng tuần 3</th>
                <th class="text-center" colspan="3">
                  {{objDiemDanhGia.TongDiemT3}} / {{objDiemDanhGia.totalT3}}
                </th>
                <th class="text-center">Tổng tuần 4</th>
                <th class="text-center" colspan="3">
                  {{objDiemDanhGia.TongDiemT4}} / {{objDiemDanhGia.totalT4}}
                </th>
                <th *ngIf="options.T5 === false" class="text-center">Tổng tuần 5</th>
                <th *ngIf="options.T5 === false" class="text-center" colspan="3">
                  {{objDiemDanhGia.TongDiemT5}} / {{objDiemDanhGia.totalT5}}
                </th>
              </tr>
            </thead>
          </table>
          <table class="tables-xacnhan">
            <tbody>
              <tr>
                <td class="text-center font-weigthc" colspan="2">
                 Xác nhận tuần 1
                </td>
                <td class="text-center font-weigthc" colspan="2">
                    Xác nhận tuần 2
                </td>
                <td class="text-center font-weigthc" colspan="2">
                    Xác nhận tuần 3
                </td>
                <td class="text-center font-weigthc" colspan="2">
                    Xác nhận tuần 4
                </td>
                <td class="text-center font-weigthc" *ngIf="options.T5 === false" colspan="2">
                    Xác nhận tuần 5
                </td>
              </tr>
              <tr>

                <td class="text-center">
                  KT-CĐ
                </td>
                <td class="text-center">
                  Tổ máy
                </td>
                <td class="text-center">
                  KT-CĐ
                </td>
                <td class="text-center">
                  Tổ máy
                </td>
                <td class="text-center">
                  KT-CĐ
                </td>
                <td class="text-center">
                  Tổ máy
                </td>
                <td class="text-center">
                  KT-CĐ
                </td>
                <td class="text-center">
                  Tổ máy
                </td>
                <td *ngIf="options.T5 === false" class="text-center">
                  KT-CĐ
                </td>
                <td *ngIf="options.T5 === false" class="text-center">
                  Tổ máy
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiXacNhanT1ID == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(1,2)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiXacNhanT1ID != null" type="button" class="btn btn-primary btn-hoanthanh "
                    title=" Xác nhận">

                    <span>
                      {{modelPM.NguoiXacNhanT1ID}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiVanHanhIDT1 == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(1,1)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiVanHanhIDT1 != null" type="button" class="btn btn-primary btn-hoanthanh ">

                    <span>
                      {{modelPM.NguoiVanHanhIDT1}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiXacNhanT2ID == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(2,2)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiXacNhanT2ID != null" type="button" class="btn btn-primary btn-hoanthanh "
                    title=" Xác nhận">

                    <span>
                      {{modelPM.NguoiXacNhanT2ID}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiVanHanhIDT2 == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(2,1)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiVanHanhIDT2 != null" type="button" class="btn btn-primary btn-hoanthanh "
                    title=" Xác nhận">

                    <span>
                      {{modelPM.NguoiVanHanhIDT2}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiXacNhanT3ID == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(3,2)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiXacNhanT3ID != null" type="button" class="btn btn-primary btn-hoanthanh ">

                    <span>
                      {{modelPM.NguoiXacNhanT3ID}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiVanHanhIDT3 == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(3,1)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiVanHanhIDT3 != null" type="button" class="btn btn-primary btn-hoanthanh ">

                    <span>
                      {{modelPM.NguoiVanHanhIDT3}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiXacNhanT4ID == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(4,2)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiXacNhanT4ID != null" type="button" class="btn btn-primary btn-hoanthanh ">

                    <span>
                      {{modelPM.NguoiXacNhanT4ID}}
                    </span>
                  </button>
                </td>
                <td class="text-center">
                  <button *ngIf="modelPM.NguoiVanHanhIDT4 == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(4,1)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiVanHanhIDT4 != null" type="button" class="btn btn-primary btn-hoanthanh ">

                    <span>
                      {{modelPM.NguoiVanHanhIDT4}}
                    </span>
                  </button>
                </td>
                <td *ngIf="options.T5 === false" class="text-center">
                  <button *ngIf="modelPM.NguoiXacNhanT4ID == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(5,2)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiXacNhanT4ID != null" type="button" class="btn btn-primary btn-trash ">

                    <span>
                      {{modelPM.NguoiXacNhanT4ID}}
                    </span>
                  </button>
                </td>
                <td *ngIf="options.T5 === false" class="text-center">
                  <button *ngIf="modelPM.NguoiVanHanhIDT5 == null" type="button" class="btn btn-primary btn-trash "
                    (click)="XacNhanCD(5,1)" title=" Xác nhận">

                    <span>
                      Xác nhận
                    </span>
                  </button>
                  <button *ngIf="modelPM.NguoiVanHanhIDT5 != null" type="button" class="btn btn-primary btn-trash ">

                    <span>
                      {{modelPM.NguoiVanHanhIDT5}}
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="options.totalpage > 1">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" (click)="PrevPage()">Prev</a></li>
              <li class="page-item">
                <a class="page-link"> {{(options.p-1)*options.pz+1}}</a>
              </li>
              <li class="page-item">
                <a class="page-link"> - </a>
              </li>
              <li class="page-item">
                <a class="page-link" *ngIf="options.pz*options.p > options.total"> {{options.total}}</a>
                <a class="page-link" *ngIf="options.pz*options.p <= options.total"> {{options.pz*options.p}}</a>
              </li>
              <li class="page-item">
                <a class="page-link">trong số</a>
              </li>
              <li class="page-item">
                <a class="page-link">{{options.total}}</a>
              </li>
              <li class="page-item" (click)="NextPage()"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div bsModal #ImportExModal="bs-modal" class="modal fade" id="modalUser" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{'backdrop':'static', 'keyboard': false}"
  data-keyboard="false">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tải lên tệp excel</h4>
        <button type="button" class="close" (click)="HideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card box-card-md">
                  <div class="card-body box-cardbody-md">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label class="title-text col-form-label" for="name">Chọn tệp excel
                          </label>
                          <div class="input-text">
                            <input #file type="file" class="form-control" id="name" placeholder="Mã nhóm"
                              (change)="ChonFile(file.files)">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/.row-->
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
            <!--/.row-->
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ImportExModal.hide()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="r2ImportFile()">Lưu lại</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal login xac nhan -->
<div bsModal #xacnhanExModal="bs-modal" class="modal fade" id="modalxacnhan" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{'backdrop':'static', 'keyboard': false}"
  data-keyboard="false">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modaltitle}}</h4>
        <button type="button" class="close" (click)="xacnhanExModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-sm-12">
                <div class="card box-card-md">
                  <div class="card-body box-cardbody-md">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label class="title-text col-form-label" for="name">Tên đăng nhập
                          </label>
                          <div class="input-text">
                            <input type="text" class="form-control" id="name" placeholder="Tên đăng nhập"
                              autocomplete="username" [(ngModel)]="modelUser_.UserName"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <label class="title-text col-form-label" for="name">Mật khẩu
                          </label>
                          <div class="input-text">
                            <input type="password" class="form-control" id="name" placeholder="Mật khẩu"
                              autocomplete="new-password" [(ngModel)]="modelUser_.Password"
                              [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/.row-->
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>
            <!--/.row-->
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="xacnhanExModal.hide()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="LuuXacNhan()">Xác nhận</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->