
<div class="animated fadeIn">
  <div class="card">
    <div class="container-fluid">
      <!-- hiện thị thanh trên cùng của trang -->
      <div class="row r-menu" style="border-top: 1px solid gray;">
          <div class="col-sm-5">
              <span class="text-danger"> rỗng</span>
          </div>
          <div class="col-sm-7 " >
              <div class="float-left">
                      <h4 style="margin-top:20px; font-weight: bold; color: red;">04/07</h4>
              </div>
              <div>
                  <img class="float-left img-cmsn"  src="assets/icon_trang_chu/icon-birthday.png">     
              </div>
              <div class="float-left">
                      <h6 style="margin-top:10px; color: red; text-align: center">CHÚC MỪNG SINH NHẬT</h6>
                      <h5 style="font-weight: bold; color: red; text-align: center">NGUYỄN QUỲNH ANH</h5>
              </div>
              <!-- <div class="float-left ml-3">
                      <input type="search" class="btn-search-trangchu" name="search">
                      <button style="border-radius: 25px; width: 70px" type="button" class="btn btn-primary ml-3 mb-1" >Gửi</button>
                      <img class="ml-3 mb-2" src="assets/icon_trang_chu/gift.png"  alt="Birthday" width="40px">
                  </div> -->
          </div>
          
          
      </div>
    
    <!-- hiển thị thanh menu (tin tức nội bộ và thông báo) -->
    <!-- hiển thị nội dung tin tức nội bộ -->
    <div class="row row-Tintuc row-margin">
          <div class="col-sm-5 colTintuc ">
            <div class="card-header card-head-bgr">
              <a class="titleHomeItem">Tin tức nội bộ</a>
            </div>
                    <div class="box-ttnb">    
                     <div class="img-ttnb"><img  src="assets/tin_noi_bo/ttnb-1.jpg"  alt="Cơn bão số 2"></div> 
                      <div class="text-ttnb">
                        <a href="#"><h3>Phòng chống cơn bão số 2</h3></a>
                        <p>Theo thông tin mới nhất từ Trung tâm dự báo khí tượng thủy văn: dự báo trong 12 giờ đến 24 giờ tiếp theo, Bão số 2 di chuyển theo hướng Tây Tây Bắc, mỗi giờ đi được 10-15 km, đi vào đất liền từ các tỉnh Quảng Ninh đến Ninh Bình </p>
                      </div>
                    </div>
                    
                    <div class="box-ttnb">    
                        <div class="img-ttnb"><img  src="assets/tin_noi_bo/ttnb-2.jpg"  alt="Nâng cao tay nghề"></div> 
                         <div class="text-ttnb">
                           <a href="#"><h3>Đào tạo nâng cao tay nghề 2019</h3></a>
                           <p>Căn cứ kế hoạch đào tạo năm 2019 đã được Tổng giám đốc phê duyệt và thông báo đã gửi ngày 04/06/2019. HĐĐT thông báo nhắc lại về việc đào tạo nâng cao tay nghề cho Công nhân thuộc Tổ Bế hộp và Tổ HTSP lớp 2 như sau: </p>
                         </div>
                       </div>
    
                       <div class="box-ttnb">    
                          <div class="img-ttnb"><img  src="assets/tin_noi_bo/ttnb-3.jpg"  alt="Phòng cháy chữa cháy"></div> 
                           <div class="text-ttnb">
                             <a href="#"><h3>Thực hiện quy định về PCCC và Phòng chống cháy nổ</h3></a>
                             <p>Vào 17h45, ngày 20/06/2019, tại khu vực Văn phòng Công ty thuốc Thú y Năm Thái (đối diện với Công ty) đã xảy ra sự cố hỏa hoạn, Cảnh sát PCCC đã phải điều động 03 xe cứu hỏa đến để xử lý.</p>
                           </div>
                         </div>
    
                         <div class="box-ttnb">    
                            <div class="img-ttnb"><img  src="assets/tin_noi_bo/ttnb-4.jpg"  alt="Xử lý vi phạm thực hiện sai chỉ đạo"></div> 
                             <div class="text-ttnb">
                               <a href="#"><h3>Xử lý vi phạm</h3></a>
                              <p>Xử lý vi phạm do thực hiện sai chỉ đạo sản xuất và không tuân thủ Quy trình sản xuất. Công ty đã nhắc nhở các đơn vị rất nhiều việc thực hiện đúng các Quy định, Quy trình sản xuất (đặc biệt là đối với các sản phẩm đồng dạng)</p>
                             </div>
                           </div>
    
                           <div class="box-ttnb">    
                              <div class="img-ttnb"><img  src="assets/tin_noi_bo/ttnb-5.jpg"  alt="Giấy khen"></div> 
                               <div class="text-ttnb">
                                 <a href="#"><h3>Nộp giấy khen HSG, HSTT của con em CBCNV</h3></a>
                                 <p>Căn cứ Thỏa ước LĐTT Chương VII, Điều 28,: về thưởng cho con người lao động trong Công ty thi đỗ Đại học, là học sinh giỏi, học sinh tiên tiến năm học 2018 - 2019.</p>
                               </div>
                             </div>
          </div>
          <!-- hiện thị nội dung báo corousel -->
          <div class="col-sm-7"> 
              <div class="card-header card-head-bgr"><a class="titleHomeItem" href="#!/tintuc/58D613A80B69448AB4D74A136932203B/tintuc.danhsachtindaduyet" style="text-transform: uppercase">THÔNG BÁO CÔNG TY</a></div>
              <div id="carouselExampleControls"
              class="carousel slide mr-3  col-12 " data-ride="carousel" data-interval="false" >
              <div class="carousel-inner ">
    
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-6  col-12">
                        <div class="box-tb">
                            <a href="#"><img class="img-tb" src="assets/tin_noi_bo/tb-1.jpg"	alt="" /></a>
                            <div class="text-tb">
                                <p>Kết luận họp giao ban Tuần. <br> Ngày 01/7/2019, Tổng Giám đốc Công ty triệu tập họp giao ban Tuần để đánh giá một số hoạt động SKKD của Công ty</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 ">
                      <div class="box-tb">
                          <a href="#"><img class="img-tb" src="assets/tin_noi_bo/tb-2.jpg"	alt=""/></a>
                          <div class="text-tb">
                              <p>Về việc thực hiện các quy định của công ty <br> Thời gian vừa qua, mặc dù thường xuyên được Tổng Giám đốc nhắc nhở trong các cuộc họp bàn giao, tuy nhiên</p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="row">
                      <div class="col-md-6 col-12 ">
                          <div class="box-tb">
                              <a href="#"><img class="img-tb" src="assets/tin_noi_bo/tb-2.jpg"	alt=""/></a>
                              <div class="text-tb">
                                  <p>Về việc thực hiện các quy định của công ty <br> Thời gian vừa qua, mặc dù thường xuyên được Tổng Giám đốc nhắc nhở trong các cuộc họp bàn giao, tuy nhiên</p>
                              </div>
                          </div>
                        </div>
                    <div class="col-md-6  col-12">
                        <div class="box-tb">
                            <a href="#"><img class="img-tb" src="assets/tin_noi_bo/tb-1.jpg"	alt="" /></a>
                            <div class="text-tb">
                                <p>Kết luận họp giao ban Tuần. <br> Ngày 01/7/2019, Tổng Giám đốc Công ty triệu tập họp giao ban Tuần để đánh giá một số hoạt động SKKD của Công ty</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div>
                  <a class="carousel-control-prev" href="#carouselExampleControls"
                    role="button" data-slide="prev"> <span
                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                    class="sr-only">Previous</span>
                  </a> <a class="carousel-control-next"
                    href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
    
              </div>
              <div class="bottom-border mt-3"></div>
            </div>
             
            <div class="col-md-12 col-12">
               <br>
            </div>
      <!-- hiển thị thanh menu (lịch sự kiện và vinh danh) -->  
            <div class="row row-margin">
                <div  class="col-sm-7"><a href="#"><h2 style="font-weight: bold;">LỊCH SỰ KIỆN</h2></a></div>
                <div  class="col-sm-5"><a href="#"><h2 style="font-weight: bold; text-align: center">VINH DANH</h2></a></div>
            </div>
           
            <div class="row row-margin">
      <!-- hiển thị nội dung lịch sự kiện  -->
                <div class="col-sm-7 col-lsk ">
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>05.07</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm 15 năm Cổ Phần Hóa</p>
                          </div>
                      </div>
                  </div>
                
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>27.07</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm ngày Thương binh - Liệt sĩ</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>10.10</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm ngày Giải phóng Thủ đô</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>13.10</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm ngày Doanh nhân Việt Nam</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>20.10</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm ngày thành lập Hội Phụ nữ</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="box-sk">
                      <div class="col-sm-4 box-sk1 float-left">
                          <div class="text-lsk">
                              <a href="#"><h3>20.11</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-8 box-sk2 float-left">
                          <div style="float:left;">
                              <p style="margin-top: 10px; font-weight: bold;">Kỷ niệm ngày Nhà giáo Việt Nam</p>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- hiển thị nội dung vinh danh -->
                <div class="col-sm-5" >
                      <div class="carousel1 slide  col-12 " data-ride="carousel" >
                      <div class="carousel-inner " >
    
                          <div class="carousel-item active" >
                              <div class="row" >
                                  <div class="col-md-12  col-12" >
                                      <div class="box-vd">
                                          <div class="box-vinhdanh">
                                              <a href="#"><img class="img-vd rounded-circle" src="assets/icon_trang_chu/anh1.jpg" /></a>
                                          </div>
                                          <div class="text-vd">
                                              <h5 style="font-weight: bold;">PHẠM THANH TÚ</h5>
                                              <h5>Tổ in Ngọc Hồi</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                    
                  </div>
                </div>
            </div>
          </div>
          
    </div>
    </div>
  </div>
</div>

