
.text-center {
    text-align: center;
}
.width-in{
    width: 300px;
}
.img-logo-banner{
    width: 100%;
}
.table-banner .width-in{
    outline: black solid 0.5px;
    padding: 0 15px;
}
.table-khbd-in tr th{
    border: black solid 1px;

}
.table-khbd-in td{
    outline: black solid 0.5px;
}