<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <ul class="ul-box-crud">
              <li appBtnPer="create" data-toggle="modal" (click)="Showmodal('add')" title="Thêm mới">
                  <img src="assets/img/brand/plus.png" class="img-plus-header" alt="plus"/>
                  <a>
                  <strong>Thêm mới</strong>
                </a>
              </li>
              <li data-toggle="modal" (click)="refreshData()" title="Làm mới">
                <img src="assets/img/brand/refresh-page-option.png" class="img-plus-header" alt="plus"/>
                <a>
                <strong>Làm mới</strong>
              </a>
            </li>
            <li appBtnPer="delete" data-toggle="modal" (click)="warningModal.show()" title="Xóa" *ngIf="CheckLength > 0">
              <img src="assets/img/brand/trash.png" class="img-plus-header" alt="plus"/>
              <a>
              <strong>Xóa</strong>
            </a>
          </li>
            </ul>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm table-app">
              <thead>
                <tr>
                  <th class="th-checkbox" width=40><input class="table-checkbox" type="checkbox" [checked]="false" [(ngModel)]="checkall" id="inline-checkbox3" (click)="toggleAll(listNhomVatTu_, checkall)"  value="option3"> </th>
                  
                  <th class="text-center" width="50">STT</th>
                  <th width="100" class="text-center">Mã nhóm</th>
                  <th>Tên nhóm vật tư</th>
                  <th appBtnPer="update" class="text-center" width=100>Chức năng</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listNhomVatTu_; let i = index">
                  <td class="td-checkbox"><input class="table-checkbox" type="checkbox" id="inline-checkbox3" value="option3" [checked]="item.checked" [(ngModel)]="item.checked" (click)="CheckedList(item.checked)"></td>
                  <td  class="text-center">{{i + 1}}</td>
                  <td class="text-center">{{item.MaNhom}}</td>
                  <td>{{item.TenNhom}}</td>
                  <td appBtnPer="update" class="text-center"  >
                    <img title="Sửa" class="img-icon-edit img-left" (click)="SelectIDEditModel(item.NhomVatTuID)" src="assets/img/brand/edit.png" alt="Sửa">
                  </td>
              </tbody>
            </table>
            <nav *ngIf="options.totalpage > 1">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" (click)="PrevPage()">Prev</a></li>
                    <li class="page-item">
                        <a class="page-link"> {{(options.p-1)*options.pz+1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"> - </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" *ngIf="options.pz*options.p > options.total"> {{options.total}}</a>
                        <a class="page-link" *ngIf="options.pz*options.p <= options.total"> {{options.pz*options.p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">trong số</a>
                      </li>
                    <li class="page-item">
                      <a class="page-link">{{options.total}}</a>
                    </li>
                    <li class="page-item" (click)="NextPage()"><a class="page-link">Next</a></li>
                  </ul>
            </nav>
          </div>   
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
    <!-- Thêm sửa-->
    <div bsModal #largeModal="bs-modal" class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{'backdrop':'static', 'keyboard': false}" data-keyboard="false"> 
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{modeltitle}}</h4>
              <button type="button" class="close" (click)="HideModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" autocomplete="off" enctype="multipart/form-data" class="form-horizontal">
                  <div class="animated fadeIn">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="card box-card-md">
                            <div class="card-body box-cardbody-md">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group row">
                                    <label class="title-text col-form-label" for="name">Mã nhóm
                                      <span>*</span>
                                    </label>
                                    <div class="input-text">
                                        <input [disabled] ="modelnhomvattu_.NhomVatTuID !== ''"type="text" class="form-control" id="name" placeholder="Mã nhóm" [(ngModel)]="modelnhomvattu_.MaNhom" [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
  
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                      <div class="form-group row">
                                        <label class="title-text col-form-label" for="name">Tên nhóm
                                          <span>*</span>
                                        </label>
                                        <div class="input-text">
                                            <input type="text" class="form-control" id="name" placeholder="Tên nhóm vật tư" [(ngModel)]="modelnhomvattu_.TenNhom" [ngModelOptions]="{standalone: true}">
                                        </div>
                                      </div>
      
                                    </div>
                              </div><!--/.row-->
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="form-group row">
                                          <label class="title-text col-form-label" for="inline-radios">Kích hoạt</label>
                                          <div class="input-text col-form-label">
                                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                              <input class="form-check-input" type="radio" [(ngModel)]="modelnhomvattu_.IsActive" [ngModelOptions]="{standalone: true}" name="IsActive" id="IsActive" [value]="true">
                                              <label class="form-check-label" for="inlineRadio1">Có</label>
                                            </div>
                                            <div class="form-check form-check-inline mr-1">
                                              <input class="form-check-input" type="radio" [(ngModel)]="modelnhomvattu_.IsActive" [ngModelOptions]="{standalone: true}" name="IsActive" id="IsActive" [value]="false">
                                              <label class="form-check-label" for="inlineRadio2">Không</label>
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div><!--/.col-->
                      </div><!--/.row-->
                    </div>
                </form>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Đóng</button>
              <button type="button" class="btn btn-primary" (click)="R2AdDataNhomVatTu()">Lưu lại</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
  
  
  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thông báo</h4>
            <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="notifyerr">{{errormodal}}&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Thoát</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Xác nhận</h4>
              <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Bạn có chắc chắn muốn xóa các trường đã chọn không ?&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Thoát</button>
              <button type="button" class="btn btn-warning" (click)="xacnhanXoa(listNhomVatTu_)">Xác nhận</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->