.select-tieuchi{
    display: inline-block;
}
.select-tieuchi ul{
    position: absolute;
    z-index: 1;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
    border: 1px solid #ddd;
}
.select-tieuchi ul li{
    padding: 10px;
}
.buttom-dropdown{
    background-color: #20a8d8;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    outline:none;
}
.buttom-dropdown:hover{
    background-color: #f86c6b;
}
.ul-box-crud{
    margin-left: 10px;
}
.card-overler{
    overflow: auto;
    max-height: calc(100vh - 114px);
}
