
@media (min-width: 1367px){
.w1000 {
    max-width: 100em;
} 
}
@media (max-width: 1366px){
    .w1000 {
        max-width:95%;
    } 
    }

.inputoneoftwo{
    width: 120px;
    margin-left: 10px;
    display: inline-block;
}
.borderrow{
    border: 1px solid black;
    padding: 10px 0;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}
.titlemodal{
    position: absolute;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 18px;
    background-color: white;
    font-weight: bold;
}
.titlenew{
    width: 80px !important;
}
.input-sl-new {
    width: calc(100% - 100px)!important;
}
.box-spanicon-input{
    float: right;
    position: static;
    margin-top: -27px;
    margin-right: 10px;
}
.box-spanicon-input i {
    font-size: 20px;
}
.box-spanicon-input:hover{
cursor: pointer;
}
.widthbtn{
    float: right;
    width: 120px;
    margin-top: 0;
    margin-left: 15px;
}
.widthbtn i {
    margin-right: 5px;
}
.ul-modal-bangtinhgia{
    list-style: none;
    display: inherit;
}
ul.ul-modal-bangtinhgia li {
    margin-left: 15px;
}
.text-right{
    padding-right: 20px;
}