.padding0{
    padding: 0;
}
.padding0 input{
box-shadow: none;
border-radius: 0;
}
.img-logo-banner{
    width: 100%;
    height: 125px;
}
.table-banner td{
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}
.table-banner{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
    width: 100%;
}
.table-khbd-in {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
.table-khbd-in th{
    border: 1px solid black;
    font-size: 20px;
}
.table-khbd-in td{
    border: 1px solid black;
    font-size: 20px;
    
}
.div-outline{
    display: none;
}

.bgrcb-4{
    background-color: #fcff1e !important;
}
.bgrcb-2{
    background-color: red !important;
}
.padding0 input{
    border: none;
}
@media (min-width: 1025px) and (max-width: 1280px){
    .width1280{
        width: 350px;
    }
    .table-khbd {
        table-layout: fixed;
    }
    .card-media-1280 {
        overflow: auto;
        margin-right: 15px;
    }
}
