<div class="animated fadeIn" (click)="Event($event)">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <div class="select-tieuchi">
                <button (click)="Active = !Active" type="button" class="buttom-dropdown" title="Chọn tiêu chí">
                  <img src="assets/img/brand/settings.png" class="img-plus-header" alt="plus" />
                  <a>
                    <strong>Chọn tiêu chí</strong>
                  </a>
                </button>
                <ul *ngIf="Active === true" class="ul-dropdown">
                  <li class="li-select">
                    <a>
                      Chọn thiết bị:
                    </a>
                    <select id="select2" name="select2" class="form-control" [(ngModel)]="options._ThietbiID" (ngModelChange)="ThietBiChanged()">
                      <option value="">----- Chọn thiết bị -----</option>
                      <option *ngFor="let c of listThietBi_" [ngValue]="c.ThietBiID">{{c.TenThietBi}}</option>
                    </select>
                  </li>
                    <li class="li-select">
                        <input class="form-control" placeholder="MM/YYYY" bsDatepicker [(ngModel)]="options.IsTime"
                          placement="bottom" (ngModelChange)="ChangeThang(options.IsTime)"
                          [bsConfig]="{dateInputFormat: 'MM/YYYY'}" (onShown)="onOpenCalendar($event)">
                      </li>
                  <!-- <li class="li-select" [ngStyle]="{'padding-top': '0'}">
                    <a>
                      Từ ngày:
                    </a>
                    <input class="form-control" id="date-input" type="date" name="date-input" [(ngModel)]="options.DateStart">
                  </li>
                  <li class="li-select" [ngStyle]="{'padding-top': '0'}">
                    <a>
                      Đến ngày:
                    </a>
                    <input class="form-control" id="date-input" type="date" name="date-input" [(ngModel)]="options.DateEnd">
                  </li> -->
                </ul>
              </div>
          <ul class="ul-box-crud">
            <li data-toggle="modal" (click)="refreshData()" title="Làm mới">
              <img src="assets/img/brand/refresh-page-option.png" class="img-plus-header" alt="plus" />
              <a>
                <strong>Làm mới</strong>
              </a>
            </li>

            <li appBtnPer="export" data-toggle="modal" title="Thực hiện lọc theo tiêu chí" (click)="InBaoCao()">
              <img src="assets/img/brand/printer-.png" class="img-plus-header" alt="ThucHien" />
              <a>
                <strong>Xuất báo cáo</strong>
              </a>
            </li>
           
          </ul>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm table-app">
            <thead>
              <tr>
                <th class="text-center text-midle" width="50">STT</th>
                <th width=120 class="text-center text-midle">Mã thiết bị</th>
                <th class="text-midle">Tên thiết bị</th>
                <th class="text-midle text-center" width=150>Người nhập cuối</th>
                <th class="text-midle text-center" width=100>Lần nhập cuối</th>
                <th width=250 class="text-midle">Tiêu chí đánh giá</th>
                <th width=100 class="text-center text-midle">Đạt</th>
                <th width=120 class="text-center text-midle">Tỉ lệ<br> Đạt/Tháng (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listBaoCao;let i = index" [ngStyle]="{'property': expression}">
                <td class="text-center">
                  {{i + 1}}
                </td>
                <td class="text-center">
                  {{item.MaThietBi}}
                </td>
                <td >
                  {{item.TenThietBi}}
                </td>
                <td class="text-midle text-center">
                    {{item.FullName}}
                  </td>
                <td class="text-midle text-center">
                    {{item.DateEndCV | date: 'dd/MM/yyyy'}}
                  </td>
                <td >
                  {{item.TieuChi}}
                </td>
                <td class="text-center">
                  {{item.Dat}}
                </td>
                <td class="text-center">
                  <div [ngStyle]="{'background-color':item.TiLeHoanThanh  < 30 ? 'red' : ((item.TiLeHoanThanh >=30 && item.TiLeHoanThanh < 50) ? '#de752d': ((item.TiLeHoanThanh >=50 && item.TiLeHoanThanh < 80) ? '#2daf48' : '#20a8d8' )) }" class="divinTd">
                    <span>{{item.TiLeHoanThanh | number: '1.1-2'}}</span> <span *ngIf="item.Dat > 0">%</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<!-- xuất báo cáo bảng kiểm tra vệ sinh hàng ngày -->
<div class="card-body" [ngStyle]="{'display': 'none'}" id="inbaocao" >
    <table class="table-baocao">
      <tbody>
        <tr>
          <td colspan="6" class="text-center td-contains-img">
            <img src="assets/img/brand/anhbannerappprintco.jpg" alt="banner">
          </td>
        </tr>
        <tr>
          <td colspan="6" class="text-center ten-baocao">
            <strong>
              BÁO CÁO KIỂM TRA VỆ SINH THIẾT BỊ HÀNG NGÀY
            </strong>
          </td>
        </tr>
        <tr>
          <td width="50">

          </td>
          <td width="200" class="TenDanhMuc">
          </td>
          <td class="font-family">
          
          </td>
          <td width="200" class="TenDanhMuc">
           
          </td>
          <td width="150" class="font-family">
            
          </td>
          <td width="50">
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-sm table-app table-print">
        <thead>
          <tr>
            <th class="text-center text-midle" width="50">STT</th>
            <th width=120 class="text-center text-midle">Mã thiết bị</th>
            <th class="text-midle text-center" width=100>Lần nhập cuối</th>
            <th width=250 class="text-midle">Tiêu chí đánh giá</th>
            <th width=100 class="text-center text-midle">Đạt</th>
            <th width=120 class="text-center text-midle">Tỉ lệ<br> Đạt/Tháng (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listBaoCao;let i = index" [ngStyle]="{'property': expression}">
            <td class="text-center">
              {{i + 1}}
            </td>
            <td class="text-center">
              {{item.MaThietBi}}
            </td>
            <td class="text-midle text-center">
                {{item.DateEndCV | date: 'dd/MM/yyyy'}}
              </td>
            <td >
              {{item.TieuChi}}
            </td>
            <td class="text-center">
              {{item.Dat}}
            </td>
            <td class="text-center">
                <span>{{item.TiLeHoanThanh | number: '1.1-2'}}</span> <span *ngIf="item.Dat > 0">%</span>
            </td>
          </tr>
        </tbody>
      </table>
    <button [ngStyle]="{'display': 'none'}" [useExistingCss]="true" printSectionId="inbaocao" ngxPrint id="btnprint"> In </button>
  </div>
