.avataruser{
    display: none;
}
.img-avatarUser{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 100%;
    float: right;
    margin-right: 60px;
}
.multiselect-dropdown .dropdown-btn{
    padding: 4px 12px !important;
    border: 1px solid #e4e7ea !important;
}
.multiple-select .dropdown-btn .dropdown-down{
    border-top: 8px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}