.input-text .form-check-inline{
    width: 45%;
}
.modal-lg{
    max-width: 1000px;
}
.img-logo-banner{
    width: 100%;
    height: 125px;
}
.table-border-black tbody tr td{
    border: 1px solid black;
}
.table-border-black {
    font-family: 'Times New Roman', Times, serif;
}
.text-weight {
    font-weight: bold;
}
.text-weight{
    font-size: 24px;
}
.tables-tskt tbody tr{
outline: black solid 1px; 
margin: 0; 
}
.tables-tskt tbody tr td{
    border-bottom: 1px solid black; 
    margin-bottom: -1px;
    
    }
    .tables-tskt{
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
    }
    .table2{
        margin-bottom: 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        width: 100%;
    }
    .table2 td{
        padding: 0 15px 0 15px;
        border-bottom: 1px solid black;
    }
    .table2 tbody {
        outline: black solid 1px;
    }
    .width-50{
        width: 30%;
    }
    .font-cty{
        font-size: 40px;
    }
    .font-tenbang{
        font-size: 40px;
    }
    .tables1{
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
    }
    .tables1 thead{
        outline: black solid 1px;
    }
    .tables1 thead tr th{
        border-bottom: 1px solid black;
        padding: 20px 0;
    }
    .th-titlel-hosothiebi{
        border-left: 1px solid black;
        font-size: 24px;
    }
    .table-banner{
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .table-banner tbody{
        outline: black solid 1px;
    }
    .table-banner tbody tr td{
        border-bottom: 1px solid black;
        padding: 0 15px;
    }
    .table-font-size{
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
    }
    .table-font-size thead{
        outline: black solid 1px;
    }
    .table-font-size tbody{
        outline: black solid 1px;
    }